body::after	{
	content:"";
	background-image:url(../images/res-bkgnd.JPG);
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
	opacity:0.2;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	position:fixed;
	z-index: -1;
	}