body::after	{
	content:"";
	background-image:url(../images/res-bkgnd.JPG);
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
	opacity:0.2;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	position:fixed;
	z-index: -1;
	}

#in-pages	{
	background-image: url(../images/research.JPG);
	float: left;
	height: 55vh;
	width: 22vw;
	background-size: cover;
	border: 5px solid #515151;
	border-radius: 20px;
	margin: auto;
}

#in-pages-text	{
	width: 55vw;
	float: right;
}